@media  screen and  (min-width: 1024px) {
    body{
        font-family: 'Lato', sans-serif;
    }
    table {
        width: 70%;
        margin: 5% auto 0;
        border-collapse: collapse;
    }

    td {
        padding: 3.8% 2.8% 3.8%;
        text-align: center;
    }

    .title {
        background-color: #212529;
        color: #fff;
    }

    img {
        border-radius: 50%;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    tr:hover {
        font-weight: bold;

    }
}

