@media (max-width: 640px) {
    body{
        font-family: 'Lato', sans-serif;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }

    td {
        padding: 38px 28px 38px;
        text-align: center;
    }

    .title {
        background-color: #212529;
        color: #fff;
    }

    img {
        border-radius: 50%;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    tr:hover {
        font-weight: bold;
    }
}